---
layout: default
---


<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  {% for category in site.data.projects %}
  <div class='row'>
    <div class='col-12 my-3'>
      <h3>{{ category.name }}</h3>   
      <div class="row">
      {% for project in category.projects %}
            <div class="card">
            {{ project.name}}
            </div>
          </div>
      
      {%- endfor -%}
    </div>
  </div>
  
  {% endfor %}
  
</div>