---
layout: default
---
{% include showcase.html %}

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<div class="portfolio">
  <p>
    {% for category in site.data.projects %}
    <a class="btn btn-primary" data-toggle="collapse" href="#{{ category.name }}" role="button" aria-expanded="false">{{ category.name }}</a>
    {% endfor %}
  </p>
  {% for category in site.data.projects %}
  <div class="collapse multi-collapse" id="{{ category.name }}">
    {% for project in category.projects %}
            <div class="card">
              <h5 class="card-title">{{ project.name}}</h5>
              {% if project.link %}
              <a href="{{ project.link }}" class="card-link">{{ project.site }}</a>     
              {% endif %}
            </div>
      
      {%- endfor -%}
  </div>
     
  {% endfor %}
</div>